<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FTP Server</title>
        <link rel="icon" type="image/x-icon" href="/static/ftp-server.ico">
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <header>
            <a href="/">
                <img src="/static/ftp-server.ico">
                <h2>FTP Server</h2>
            </a>
        </header>
        <main>
            {% block main %}
            {% endblock %}
        </main>
    </body>
</html>
